.main-container1 {
  background-image: url("https://images.unsplash.com/photo-1549534077-1b4f31dd59ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  color: white;
  background-position: center center;
  height: 100vh;
}

h1 {
  margin: 0;
}
